[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/vault-services/lib/safe-contracts-1.3.0"]
	path = packages/vault-services/lib/safe-contracts-1.3.0
	url = https://github.com/gnosis/safe-contracts/
[submodule "packages/vault-services/lib/safe-modules-master"]
	path = packages/vault-services/lib/safe-modules-master
	url = git@github.com:safe-global/safe-modules.git
